@model Mvc.Models.Author

@{
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";

    ViewData["Title"] = "DetailsAuthors";
}

<div class="m-lg-5 container">


    <hr />
    <div class="row justify-content-center m-lg-5">
        <div class="col-md-4 m-lg-3">
            <h1> Authors Details</h1>
    <hr />
    <dl class="row mt-5">
        
        
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

<div>
    <a asp-action="GetAllAuthors">Back to List</a>
</div>
</div>
    </div>
</div>
